#write a html code of collect students mark for only 4 subject#
<!DOCTYPE html>
<html>
<form action="/getresult" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="text" name="subject1" placeholder="Subject 1" required>
    <input type="text" name="subject2" placeholder="Subject 2" required>
    <input type="text" name="subject3" placeholder="Subject 3" required>
    <input type="text" name="subject4" placeholder="Subject 4" required>
    <button type="submit">Submit</button>
</form>

</html>